@import '../../util/colors';

.Main {
	padding: 0;
	max-width: 1300px;
	margin: 0 auto;
	background-color: $background-color;
	height: 100vh;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 10px 0 10px;
}

.Main-header {
	margin: 0;
	& img {
		display: inline;
		content: url('../../util/images/logo-transparent.png');
	}
}

.Main-loader-wrapper {
	margin-top: 50px;
}
