@import './util/_colors.scss';

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	min-height: 100vh;
	width: 100vw;
	font-size: 16px;
	background-color: $main-color;
}
